.profile{
    margin-right: 30px;
    margin-top: 15px;
}
.profile .glyphicon-user, .profile .caret{
    color: #fff
}
.profile .label{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}
.navbar .logotip{
    color: #fff;
}
