.row
   .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .row
         .col-lg-12.col-md-12.col-sm-12.col-xs-12
         form.navbar-form.pull-left
            input#name(type='text' ng-model="link")
            button#input.but.btn.btn-success(role='button' ng-click="addlink()") Сделай это!
      div#tabs-row.row
         div.col-lg-12.col-md-12.col-sm-12.col-xs-12
            div(role='tabpanel')
               ul.nav.nav-tabs(role='tablist')
                  li(role='presentation' ng-click="showall()").active
                     a( aria-controls='all', role='tab', data-toggle='tab') Все
                  li.checked_tab(role='presentation' ng-click="showchecked()")
                     a( aria-controls='checked', role='tab', data-toggle='tab') Отмеченные
                  li(role='presentation' ng-click="showunchecked()")
                     a( aria-controls='unchecked', role='tab', data-toggle='tab') Не отмеченные
               div.tab-content
                  div#all.tab-pane(role='tabpanel', class=("active"))
                     div.row
                        div.col-lg-12.col-md-12.col-sm-12.col-xs-12.list_goes_here
                           ul
                              div(class="checkbox" ng-repeat="link in links")
                                 label
                                    input(type="checkbox" ng-model="selected" ng-click="checked(link._id)" ng-init="selected = link.checked")
                                    a(href="{{link.longUrl}}")= "{{link.shortUrl}}"
            pagination(total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()")
      .row
         .col-lg-12.col-md-12.col-sm-12.col-xs-12
            button.but_rem_sel.btn(ng-click="deleteLinks()") Удалить отмеченные
            button.but_rem_all.btn(ng-click="deleteAllLinks()") Удалить все