.row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                form
                    div username
                        span(ng-bind="user.name()")
                    input(type='text', ng-model="user.username")
                    //div gender
                    //select(ng-model="user.gender",)
                    //    option( ng-selected="user.gender == famale") female
                    //    option( ng-selected="user.gender") male
                    div password
                    input(type='password' ng-model="user.password")
                    button#input.but.btn.btn-success(role='button' ng-click="update_user(user._id)") Сохранить